.rasen {
  background: green;
  height: 66%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.schwarz {
  padding: 5%;
  background: rgb(0, 3, 5);
}

.goal {
  width: 2.5ch;
  background: rgb(250, 250, 252);
  height: 80%;
  font-size: 200%;
}

.mittellinie {
  background-color: white;
  height: 100%;
  width: 0.5em;
}

.lösung {
  color: rgb(13, 13, 228) !important;
}

.ball {
  transition: left 1.5s;
  position: absolute;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  height: 3em;
  width: 3em;
  background: rgb(236, 13, 13);
  border-radius: 1.5em;
}

.zahl1 {
  color: white;
  font-size: 1000%;
  width: 1ch;
}

.zahl2 {
  color: white;
  font-size: 1000%;
  width: 1ch;
}

.schreibfeld {
  height: 15%;
  width: 100%;
  font-size: 6em;
  padding: 0 1em;
  color: rgba(21, 12, 29, 0.979);
}

.stand {
  position: absolute;
  top: -6%;
  right: 10%;
  font-size: 10em;
  color: rgb(30, 255, 1);
}

.ausruf {
  position: absolute;
  top: 16%;
  left: 10%;
  font-size: 5em;
  color: rgb(30, 255, 1);
}

.splash {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(2, 89, 250);
  font-size: 3em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.max-tempo {
  justify-self: start;
  height: 10%;
}

.hidden {
  visibility: hidden;
}

.meldung {
  /* font-size: 3em; */
  color: rgb(2, 89, 250);
  padding: 0 1.5em;
}

.start {
  /* font-size: 3.5em; */
  background-color: #2222ee;
  border: none;
  color: white;
  padding: 1rem 2rem;
}

.start:hover {
  background-color: #4444ee;
}

.minus {
  font-size: 3.5em;
  background-color: #2222ee;
  border: none;
  color: white;
  padding: 1rem 2rem;
}

.plus {
  font-size: 3.5em;
  background-color: #2222ee;
  border: none;
  color: white;
  padding: 1rem 2rem;
}